.main {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
  }
  
  h1 {
    color: #333;
    font-size: 24px;
  }
  
  p {
    color: #666;
    font-size: 18px;
  }
  
 
  .main-button {
    padding: 12px 25px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: linear-gradient(45deg, #53658e, #09305e);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
  }
  
  .main-button:hover {
    background: linear-gradient(45deg, #89538e, #5e094c);
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  .main-button:active {
    transform: scale(0.95);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  }
  