.footer {
    background-color:#28375a ; /* Темний фон */
    color: white; /* Білий текст */
    text-align: center; /* Вирівнювання тексту */
    padding: 15px; /* Відступи */
    font-size: 12px; /* Розмір шрифту */
    position: fixed; /* Фіксоване положення */
    bottom: 0; /* Закріплення знизу */
    width: 100%; /* На всю ширину */
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.3); /* Тінь */
  }
  